# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
env/
venv/
ENV/

# Project-specific ignores
*.pdf
workspace/
chroma_db/
retrieved_image_*.jpg
preview_image_*.jpg
*.chroma/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

.gradio/